<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div>
            <h1>iai Trouxa!!!</h1>
            <p>Relaxa bestão</p>
        </div>
        <nav>
            <a href="https://www.facebook.com/414826395536996/photos/a.553225011697133/839201893099442/">Clica aqui Bestão</a>
            <a href="">:/</a>
            <a href="">:/</a>
        </nav>
    </header>
    <main></main>
    <footer></footer>
</body>
</html>
