<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site LovT</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    <header class="cabeçalho">
        <section class="topo">
        <div class="um">
            <H1 class="lovt" >LOVT</H1>
            <h5 class="you-love">You Love,<br> 
                your loft!</h5>
        </div >
        <div class="dois">
            <a href="" id="home" >Home</a>
            <a href="" id="loca" >Localização</a>
            <a href="" id="cont" >Contato</a>
        </div></section>
    </header>

    <main>
        <section class="carrosel">
           <div class="img-carrossel"> 
            <button id="botao-um"> < </button>   
            <img src="/public/img/carrosel.svg" alt="carrosel"  width="80%" height="20%" >               
            <button id="botao-dois"> > </button>
           </div>

        </section >

        <section class="conteiner">
            <div class="conteiner-bloco">
                <img src="/public/img/new.svg" alt="new">
                <button>New</button>
                <h2>S1,200</h2>
                <p>Mussum Ipsum, cacilds vidis litro abertis. Delegadis gente finis, bibendum egestas augue arcu ut est. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Casamentiss faiz malandris se pirulitá. Cevadis im ampola pa                  
                </p>

            </div>
            
            <div class="conteiner-bloco">
                <img src="/public/img/sale.svg" alt="sale">
            <button>Sale</button>
            <h2>$2,000</h2>
            <p>Mussum Ipsum, cacilds vidis litro abertis. Delegadis gente finis, bibendum egestas augue arcu ut est. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Casamentiss faiz malandris se pirulitá. Cevadis im ampola pa
            </p>

            </div>

        </section>

        <section class="categoria">

        </section>

    </main>

    <footer>

    </footer>
    
</body>

</html>